.icon { width: calc(var(--density-unit) * 3.75); height: calc(var(--density-unit) * 3.75); flex: none; stroke-width: var(--border-strong); }
.icon[data-size="detail"] { width: calc(var(--density-unit) * 3); height: calc(var(--density-unit) * 3); }
.icon[data-size="prominent"] { width: calc(var(--density-unit) * 4.5); height: calc(var(--density-unit) * 4.5); }
